
SetEnv dbLogin 	"root"
SetEnv dbPass 	""
SetEnv dbBd 	"PROJECT"
SetEnv dbHost 	"localhost"

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^$				home
	RewriteRule ^([a-z]+)/([a-z]+)/(\d+)/(pdf|xls)/?$	index.php?uc=$1&action=$2&id=$3&type=$4 [NC,L]
	RewriteRule ^([a-z]+)/([a-z]+)/(\d+)/?$	index.php?uc=$1&action=$2&id=$3 [NC,L]
	RewriteRule ^([a-z]+)/([a-z]+)/?$	index.php?uc=$1&action=$2 [NC,L]
	RewriteRule ^([a-z]+)/?$	index.php?uc=$1 [NC,L]
</IfModule>
