.timeline{
	text-align: center;
	display: table;
}

.timeline th,td{
	text-align: center;
	border: 2px solid white;
	padding: 2pt;
}

.timeline label{
	display: block;
}

.timeline-non-header{
	background: white; /* none ? */
}

.timeline-year{
	background: #555;
}

.timeline-month{
	background: #aaa;
}

.timeline-day{
	background: #ddd;
}

.timeline-hour, .timeline-input{
	background: #eee;
}

.best-pick{
	background: green;
}
